# SQL en Jupyter con sqlite

Se puede ejecutar en __google collab__. En ese caso no sería necesario instalar los paquetes

Driver para acceso a BBDD __sqlalchemy__

In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

Instalar __plugin__ para SQL

In [2]:
!pip install jupysql

Collecting jupysql
  Downloading jupysql-0.10.10-py3-none-any.whl (95 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.7/95.7 kB 1.6 MB/s eta 0:00:00
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.10.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from jupysql) (2.0.29)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.1.3)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.10/dist-packages (from jupysql) (20.11.0)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Downloading jupysql_plugin-0.4.3-py3-none-any.whl (250 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 251.0/251.0 kB 8.4 MB/s eta 0:00:00
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.25-py3-none-any.whl (22 kB)
Collecting ploomber-extension (from jupysql)
  Downloading ploomber_extension-0.1.0-py3-none-any.whl (193 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 193.0/193.0 kB 20.7 MB/s eta 0:00:00
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-3.5.0-py2.py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.3/41.3 kB 3.6 MB/s eta 0:00:00
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->jupysql) (2.1.5)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->jupysql) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (3.0.3)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.2.2)
Installing collected packages: monotonic, backoff, posthog, ploomber-core, ploomber-extension, jupysql-plugin, jupysql
Successfully installed backoff-2.2.1 jupysql-0.10.10 jupysql-plugin-0.4.3 monotonic-1.6 ploomber-core-0.2.25 ploomber-extension-0.1.0 posthog-3.5.0

In [ ]:
#!pip install ipython-sql

In [3]:
!pip list

Package                          Version
-------------------------------- ---------------------
absl-py                          1.4.0
aiohttp                          3.9.3
aiosignal                        1.3.1
alabaster                        0.7.16
albumentations                   1.3.1
altair                           4.2.2
annotated-types                  0.6.0
anyio                            3.7.1
appdirs                          1.4.4
argon2-cffi                      23.1.0
argon2-cffi-bindings             21.2.0
array_record                     0.5.1
arviz                            0.15.1
astropy                          5.3.4
astunparse                       1.6.3
async-timeout                    4.0.3
atpublic                         4.1.0
attrs                            23.2.0
audioread                        3.0.1
autograd                         1.6.2
Babel                            2.14.0
backcall                         0.2.0
backoff                          2.2.1
beautifulsoup4                   4.12.3
bidict                           0.23.1
bigframes                        1.0.0
bleach                           6.1.0
blinker                          1.4
blis                             0.7.11
blosc2                           2.0.0
bokeh                            3.3.4
bqplot                           0.12.43
branca                           0.7.1
build                            1.2.1
CacheControl                     0.14.0
cachetools                       5.3.3
catalogue                        2.0.10
certifi                          2024.2.2
cffi                             1.16.0
chardet                          5.2.0
charset-normalizer               3.3.2
chex                             0.1.86
click                            8.1.7
click-plugins                    1.1.1
cligj                            0.7.2
cloudpathlib                     0.16.0
cloudpickle                      2.2.1
cmake                            3.27.9
cmdstanpy                        1.2.2
colorcet                         3.1.0
colorlover                       0.3.0
colour                           0.1.5
community                        1.0.0b1
confection                       0.1.4
cons                             0.4.6
contextlib2                      21.6.0
contourpy                        1.2.1
cryptography                     42.0.5
cufflinks                        0.17.3
cupy-cuda12x                     12.2.0
cvxopt                           1.3.2
cvxpy                            1.3.3
cycler                           0.12.1
cymem                            2.0.8
Cython                           3.0.10
dask                             2023.8.1
datascience                      0.17.6
db-dtypes                        1.2.0
dbus-python                      1.2.18
debugpy                          1.6.6
decorator                        4.4.2
defusedxml                       0.7.1
distributed                      2023.8.1
distro                           1.7.0
dlib                             19.24.4
dm-tree                          0.1.8
docstring_parser                 0.16
docutils                         0.18.1
dopamine-rl                      4.0.6
duckdb                           0.9.2
earthengine-api                  0.1.397
easydict                         1.13
ecos                             2.0.13
editdistance                     0.6.2
eerepr                           0.0.4
en-core-web-sm                   3.7.1
entrypoints                      0.4
et-xmlfile                       1.1.0
etils                            1.7.0
etuples                          0.3.9
exceptiongroup                   1.2.0
fastai                           2.7.14
fastcore                         1.5.29
fastdownload                     0.0.7
fastjsonschema                   2.19.1
fastprogress                     1.0.3
fastrlock                        0.8.2
filelock                         3.13.3
fiona                            1.9.6
firebase-admin                   5.3.0
Flask                            2.2.5
flatbuffers                      24.3.25
flax                             0.8.2
folium                           0.14.0
fonttools                        4.50.0
frozendict                       2.4.1
frozenlist                       1.4.1
fsspec                           2023.6.0
future                           0.18.3
gast                             0.5.4
gcsfs                            2023.6.0
GDAL                             3.6.4
gdown                            4.7.3
geemap                           0.32.0
gensim                           4.3.2
geocoder                         1.38.1
geographiclib                    2.0
geopandas                        0.13.2
geopy                            2.3.0
gin-config                       0.5.0
glob2                            0.7
google                           2.0.3
google-ai-generativelanguage     0.4.0
google-api-core                  2.11.1
google-api-python-client         2.84.0
google-auth                      2.27.0
google-auth-httplib2             0.1.1
google-auth-oauthlib             1.2.0
google-cloud-aiplatform          1.46.0
google-cloud-bigquery            3.12.0
google-cloud-bigquery-connection 1.12.1
google-cloud-bigquery-storage    2.24.0
google-cloud-core                2.3.3
google-cloud-datastore           2.15.2
google-cloud-firestore           2.11.1
google-cloud-functions           1.13.3
google-cloud-iam                 2.14.3
google-cloud-language            2.13.3
google-cloud-resource-manager    1.12.3
google-cloud-storage             2.8.0
google-cloud-translate           3.11.3
google-colab                     1.0.0
google-crc32c                    1.5.0
google-generativeai              0.3.2
google-pasta                     0.2.0
google-resumable-media           2.7.0
googleapis-common-protos         1.63.0
googledrivedownloader            0.4
graphviz                         0.20.3
greenlet                         3.0.3
grpc-google-iam-v1               0.13.0
grpcio                           1.62.1
grpcio-status                    1.48.2
gspread                          3.4.2
gspread-dataframe                3.3.1
gym                              0.25.2
gym-notices                      0.0.8
h5netcdf                         1.3.0
h5py                             3.9.0
holidays                         0.46
holoviews                        1.17.1
html5lib                         1.1
httpimport                       1.3.1
httplib2                         0.22.0
huggingface-hub                  0.20.3
humanize                         4.7.0
hyperopt                         0.2.7
ibis-framework                   8.0.0
idna                             3.6
imageio                          2.31.6
imageio-ffmpeg                   0.4.9
imagesize                        1.4.1
imbalanced-learn                 0.10.1
imgaug                           0.4.0
importlib_metadata               7.1.0
importlib_resources              6.4.0
imutils                          0.5.4
inflect                          7.0.0
iniconfig                        2.0.0
intel-openmp                     2023.2.4
ipyevents                        2.0.2
ipyfilechooser                   0.6.0
ipykernel                        5.5.6
ipyleaflet                       0.18.2
ipython                          7.34.0
ipython-genutils                 0.2.0
ipython-sql                      0.5.0
ipytree                          0.2.2
ipywidgets                       7.7.1
itsdangerous                     2.1.2
jax                              0.4.26
jaxlib                           0.4.26+cuda12.cudnn89
jeepney                          0.7.1
jieba                            0.42.1
Jinja2                           3.1.3
joblib                           1.3.2
jsonpickle                       3.0.3
jsonschema                       4.19.2
jsonschema-specifications        2023.12.1
jupysql                          0.10.10
jupysql-plugin                   0.4.3
jupyter-client                   6.1.12
jupyter-console                  6.1.0
jupyter_core                     5.7.2
jupyter-server                   1.24.0
jupyterlab_pygments              0.3.0
jupyterlab_widgets               3.0.10
kaggle                           1.5.16
kagglehub                        0.2.2
keras                            2.15.0
keyring                          23.5.0
kiwisolver                       1.4.5
langcodes                        3.3.0
launchpadlib                     1.10.16
lazr.restfulclient               0.14.4
lazr.uri                         1.0.6
lazy_loader                      0.3
libclang                         18.1.1
librosa                          0.10.1
lightgbm                         4.1.0
linkify-it-py                    2.0.3
llvmlite                         0.41.1
locket                           1.0.0
logical-unification              0.4.6
lxml                             4.9.4
malloy                           2023.1067
Markdown                         3.6
markdown-it-py                   3.0.0
MarkupSafe                       2.1.5
matplotlib                       3.7.1
matplotlib-inline                0.1.6
matplotlib-venn                  0.11.10
mdit-py-plugins                  0.4.0
mdurl                            0.1.2
miniKanren                       1.0.3
missingno                        0.5.2
mistune                          0.8.4
mizani                           0.9.3
mkl                              2023.2.0
ml-dtypes                        0.2.0
mlxtend                          0.22.0
monotonic                        1.6
more-itertools                   10.1.0
moviepy                          1.0.3
mpmath                           1.3.0
msgpack                          1.0.8
multidict                        6.0.5
multipledispatch                 1.0.0
multitasking                     0.0.11
murmurhash                       1.0.10
music21                          9.1.0
natsort                          8.4.0
nbclassic                        1.0.0
nbclient                         0.10.0
nbconvert                        6.5.4
nbformat                         5.10.3
nest-asyncio                     1.6.0
networkx                         3.2.1
nibabel                          4.0.2
nltk                             3.8.1
notebook                         6.5.5
notebook_shim                    0.2.4
numba                            0.58.1
numexpr                          2.10.0
numpy                            1.25.2
oauth2client                     4.1.3
oauthlib                         3.2.2
opencv-contrib-python            4.8.0.76
opencv-python                    4.8.0.76
opencv-python-headless           4.9.0.80
openpyxl                         3.1.2
opt-einsum                       3.3.0
optax                            0.2.2
orbax-checkpoint                 0.4.4
osqp                             0.6.2.post8
packaging                        24.0
pandas                           2.0.3
pandas-datareader                0.10.0
pandas-gbq                       0.19.2
pandas-stubs                     2.0.3.230814
pandocfilters                    1.5.1
panel                            1.3.8
param                            2.1.0
parso                            0.8.3
parsy                            2.1
partd                            1.4.1
pathlib                          1.0.1
patsy                            0.5.6
peewee                           3.17.1
pexpect                          4.9.0
pickleshare                      0.7.5
Pillow                           9.4.0
pip                              23.1.2
pip-tools                        6.13.0
platformdirs                     4.2.0
ploomber-core                    0.2.25
ploomber-extension               0.1.0
plotly                           5.15.0
plotnine                         0.12.4
pluggy                           1.4.0
polars                           0.20.2
pooch                            1.8.1
portpicker                       1.5.2
posthog                          3.5.0
prefetch-generator               1.0.3
preshed                          3.0.9
prettytable                      3.10.0
proglog                          0.1.10
progressbar2                     4.2.0
prometheus_client                0.20.0
promise                          2.3
prompt-toolkit                   3.0.43
prophet                          1.1.5
proto-plus                       1.23.0
protobuf                         3.20.3
psutil                           5.9.5
psycopg2                         2.9.9
ptyprocess                       0.7.0
py-cpuinfo                       9.0.0
py4j                             0.10.9.7
pyarrow                          14.0.2
pyarrow-hotfix                   0.6
pyasn1                           0.6.0
pyasn1_modules                   0.4.0
pycocotools                      2.0.7
pycparser                        2.22
pydantic                         2.6.4
pydantic_core                    2.16.3
pydata-google-auth               1.8.2
pydot                            1.4.2
pydot-ng                         2.0.0
pydotplus                        2.0.2
PyDrive                          1.3.1
PyDrive2                         1.6.3
pyerfa                           2.0.1.1
pygame                           2.5.2
Pygments                         2.16.1
PyGObject                        3.42.1
PyJWT                            2.3.0
pymc                             5.10.4
pymystem3                        0.2.0
PyOpenGL                         3.1.7
pyOpenSSL                        24.1.0
pyparsing                        3.1.2
pyperclip                        1.8.2
pyproj                           3.6.1
pyproject_hooks                  1.0.0
pyshp                            2.3.1
PySocks                          1.7.1
pytensor                         2.18.6
pytest                           7.4.4
python-apt                       0.0.0
python-box                       7.1.1
python-dateutil                  2.8.2
python-louvain                   0.16
python-slugify                   8.0.4
python-utils                     3.8.2
pytz                             2023.4
pyviz_comms                      3.0.2
PyWavelets                       1.6.0
PyYAML                           6.0.1
pyzmq                            23.2.1
qdldl                            0.1.7.post0
qudida                           0.0.4
ratelim                          0.1.6
referencing                      0.34.0
regex                            2023.12.25
requests                         2.31.0
requests-oauthlib                1.3.1
requirements-parser              0.9.0
rich                             13.7.1
rpds-py                          0.18.0
rpy2                             3.4.2
rsa                              4.9
safetensors                      0.4.2
scikit-image                     0.19.3
scikit-learn                     1.2.2
scipy                            1.11.4
scooby                           0.9.2
scs                              3.2.4.post1
seaborn                          0.13.1
SecretStorage                    3.3.1
Send2Trash                       1.8.2
sentencepiece                    0.1.99
setuptools                       67.7.2
shapely                          2.0.3
six                              1.16.0
sklearn-pandas                   2.2.0
smart-open                       6.4.0
sniffio                          1.3.1
snowballstemmer                  2.2.0
sortedcontainers                 2.4.0
soundfile                        0.12.1
soupsieve                        2.5
soxr                             0.3.7
spacy                            3.7.4
spacy-legacy                     3.0.12
spacy-loggers                    1.0.5
Sphinx                           5.0.2
sphinxcontrib-applehelp          1.0.8
sphinxcontrib-devhelp            1.0.6
sphinxcontrib-htmlhelp           2.0.5
sphinxcontrib-jsmath             1.0.1
sphinxcontrib-qthelp             1.0.7
sphinxcontrib-serializinghtml    1.1.10
SQLAlchemy                       2.0.29
sqlglot                          20.11.0
sqlparse                         0.4.4
srsly                            2.4.8
stanio                           0.5.0
statsmodels                      0.14.1
sympy                            1.12
tables                           3.8.0
tabulate                         0.9.0
tbb                              2021.12.0
tblib                            3.0.0
tenacity                         8.2.3
tensorboard                      2.15.2
tensorboard-data-server          0.7.2
tensorflow                       2.15.0
tensorflow-datasets              4.9.4
tensorflow-estimator             2.15.0
tensorflow-gcs-config            2.15.0
tensorflow-hub                   0.16.1
tensorflow-io-gcs-filesystem     0.36.0
tensorflow-metadata              1.14.0
tensorflow-probability           0.23.0
tensorstore                      0.1.45
termcolor                        2.4.0
terminado                        0.18.1
text-unidecode                   1.3
textblob                         0.17.1
tf_keras                         2.15.1
tf-slim                          1.1.0
thinc                            8.2.3
threadpoolctl                    3.4.0
tifffile                         2024.2.12
tinycss2                         1.2.1
tokenizers                       0.15.2
toml                             0.10.2
tomli                            2.0.1
toolz                            0.12.1
torch                            2.2.1+cu121
torchaudio                       2.2.1+cu121
torchdata                        0.7.1
torchsummary                     1.5.1
torchtext                        0.17.1
torchvision                      0.17.1+cu121
tornado                          6.3.3
tqdm                             4.66.2
traitlets                        5.7.1
traittypes                       0.2.1
transformers                     4.38.2
triton                           2.2.0
tweepy                           4.14.0
typer                            0.9.4
types-pytz                       2024.1.0.20240203
types-setuptools                 69.2.0.20240317
typing_extensions                4.10.0
tzdata                           2024.1
tzlocal                          5.2
uc-micro-py                      1.0.3
uritemplate                      4.1.1
urllib3                          2.0.7
vega-datasets                    0.9.0
wadllib                          1.3.6
wasabi                           1.1.2
wcwidth                          0.2.13
weasel                           0.3.4
webcolors                        1.13
webencodings                     0.5.1
websocket-client                 1.7.0
Werkzeug                         3.0.2
wheel                            0.43.0
widgetsnbextension               3.6.6
wordcloud                        1.9.3
wrapt                            1.14.1
xarray                           2023.7.0
xarray-einstats                  0.7.0
xgboost                          2.0.3
xlrd                             2.0.1
xyzservices                      2024.4.0
yarl                             1.9.4
yellowbrick                      1.5
yfinance                         0.2.37
zict                             3.0.0
zipp                             3.18.1

In [4]:
import pandas as pd

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Cargamos la extensión:

In [6]:
%load_ext sql

Deploy Flask apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

## SQLite

Vamos a trabajar con SQLite es una de las implementaciones más sencillas de motores de SQL, trabaja sobre un fichero y no admite concurrencia, es perfecta para formación, hacer pequeñas pruebas o para bases de datos embebidas en aplicaciones, por ejemplo, para especificar preferencias.

Web oficial de SQLite en https://www.sqlite.org/index.html

SQLite no requiere instalación, tan solo la creación de un fichero `.db` compatible y un cliente de conexión. En la web podéis encontrar distintas herramientas, como la interfaz de consola `sqlite3` o el software SQLite DB Browser en https://sqlitebrowser.org/dl/

## Conexión a la BBDD

In [7]:
%sql sqlite:////content/drive/MyDrive/BBDD/test.db

Connecting to 'sqlite:////content/drive/MyDrive/BBDD/test.db'

Otros ejemplos de conexión. Ejemplo a a __MySQL__ (necesita paquete mysql)

In [ ]:
#%sql mysql+pymysql://user:pass@server/database

Listado de tablas de la BBDD

In [8]:
%sql SELECT * FROM sqlite_master where type = 'table'

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------+-----------------+-----------------+----------+-------------------------------------------------------------------+
|  type |       name      |     tbl_name    | rootpage |                                sql                                |
+-------+-----------------+-----------------+----------+-------------------------------------------------------------------+
| table |    DM_CLIENTE   |    DM_CLIENTE   |    2     |                      CREATE TABLE DM_CLIENTE                      |
|       |                 |                 |          |                                 (                                 |
|       |                 |                 |          |                COD_CLIENTE INT NOT NULL PRIMARY KEY,              |
|       |                 |                 |          |                      TIPO_CLIENTE  VARCHAR(4),                    |
|       |                 |                 |          |                        NOMBRE  VARCHAR(100),                      |
|       |                 |                 |          |                           TELEFONO  INT ,                         |
|       |                 |                 |          |                       COD_SEGMENTO VARCHAR(3)                     |
|       |                 |                 |          |                                 )                                 |
| table |    DM_PERIODO   |    DM_PERIODO   |    6     |                      CREATE TABLE DM_PERIODO                      |
|       |                 |                 |          |                                 (                                 |
|       |                 |                 |          |              COD_PERIODO INT  NOT NULL PRIMARY KEY ,              |
|       |                 |                 |          |                           COD_ANYO INT,                           |
|       |                 |                 |          |                     DESC_PERIODO VARCHAR(20),                     |
|       |                 |                 |          |                        COD_TRIM VARCHAR(2)                        |
|       |                 |                 |          |                                 )                                 |
| table |    DM_TARIFA    |    DM_TARIFA    |    8     |                       CREATE TABLE DM_TARIFA                      |
|       |                 |                 |          |                                 (                                 |
|       |                 |                 |          |               Cod_tarifa INT  NOT NULL PRIMARY KEY,               |
|       |                 |                 |          |                       cod_grupo_tarifa INT,                       |
|       |                 |                 |          |                      Desc_tarifa varchar(100)                     |
|       |                 |                 |          |                                 )                                 |
| table |   DM_SEGMENTO   |   DM_SEGMENTO   |    10    |                      CREATE TABLE DM_SEGMENTO                     |
|       |                 |                 |          |                                 (                                 |
|       |                 |                 |          |                 Cod_segmento varchar(3)  NOT NULL,                |
|       |                 |                 |          |                     Desc_segmento varchar(100)                    |
|       |                 |                 |          |                                 )                                 |
| table |    HC_CONSUMO   |    HC_CONSUMO   |    4     |                     CREATE TABLE HC_CONSUMO (                     |
|       |                 |                 |          |                       COD_CLIENTE INT NOT NULL,                   |
|       |                 |                 |          |                            COD_TARIFA INT,                        |
|       |                 |                 |          |                            COD_PERIODO INT,                       |
|       |                 |                 |          |                         CONSUMO DECIMAL(8,2),                     |
|       |                 |                 |          |                 PRIMARY KEY(COD_CLIENTE, COD_PERIODO),            |
|       |                 |                 |          |     FOREIGN KEY(COD_CLIENTE) REFERENCES DM_CLIENTE (COD_CLIENTE), |
|       |                 |                 |          |       FOREIGN KEY(COD_TARIFA) REFERENCES DM_TARIFA (COD_TARIFA),  |
|       |                 |                 |          |      FOREIGN KEY(COD_PERIODO) REFERENCES DM_PERIODO (COD_PERIODO) |
|       |                 |                 |          |                                 )                                 |
| table |   DM_CLIENTE2   |   DM_CLIENTE2   |    11    |                      CREATE TABLE DM_CLIENTE2                     |
|       |                 |                 |          |                                 (                                 |
|       |                 |                 |          |      COD_CLIENTE INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT ,     |
|       |                 |                 |          |                      TIPO_CLIENTE  VARCHAR(4),                    |
|       |                 |                 |          |                        NOMBRE  VARCHAR(100),                      |
|       |                 |                 |          |                           TELEFONO  INT ,                         |
|       |                 |                 |          |                COD_SEGMENTO VARCHAR(3) DEFAULT 'S1'               |
|       |                 |                 |          |                                 )                                 |
| table | sqlite_sequence | sqlite_sequence |    12    |               CREATE TABLE sqlite_sequence(name,seq)              |
+-------+-----------------+-----------------+----------+-------------------------------------------------------------------+

## Crear esquema

Creamos las tablas __HC_CONSUMO__ y __DM_CLIENTE__ (ojo cambiar nombre esquema)

In [ ]:
%%sql
CREATE TABLE DM_CLIENTE
(
 COD_CLIENTE INT NOT NULL PRIMARY KEY,
 TIPO_CLIENTE  VARCHAR(4),
 NOMBRE  VARCHAR(100),
 TELEFONO  INT ,
 COD_SEGMENTO VARCHAR(3)
);

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

RuntimeError: (sqlite3.OperationalError) table DM_CLIENTE already exists
[SQL: CREATE TABLE DM_CLIENTE
(
 COD_CLIENTE INT NOT NULL PRIMARY KEY,
 TIPO_CLIENTE  VARCHAR(4),
 NOMBRE  VARCHAR(100),
 TELEFONO  INT ,
 COD_SEGMENTO VARCHAR(3)
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [ ]:
%%sql
CREATE TABLE HC_CONSUMO (
    COD_CLIENTE INT NOT NULL,
    COD_TARIFA INT,
    COD_PERIODO INT,
    CONSUMO DECIMAL(8,2),
    PRIMARY KEY(COD_CLIENTE, COD_PERIODO)
);

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

++
||
++
++

In [ ]:
%%sql
CREATE TABLE DM_PERIODO
(
COD_PERIODO INT  NOT NULL PRIMARY KEY ,
COD_ANYO INT,
DESC_PERIODO VARCHAR(20),
COD_TRIM VARCHAR(2)
);

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

++
||
++
++

Comprobar la creación de las tablas en la BBDD

In [ ]:
%sql SELECT * FROM sqlite_master where type = 'table'

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------+-------------+-------------+----------+-------------------------------------------------------------------+
|  type |     name    |   tbl_name  | rootpage |                                sql                                |
+-------+-------------+-------------+----------+-------------------------------------------------------------------+
| table |  DM_CLIENTE |  DM_CLIENTE |    2     |                      CREATE TABLE DM_CLIENTE                      |
|       |             |             |          |                                 (                                 |
|       |             |             |          |                COD_CLIENTE INT NOT NULL PRIMARY KEY,              |
|       |             |             |          |                      TIPO_CLIENTE  VARCHAR(4),                    |
|       |             |             |          |                        NOMBRE  VARCHAR(100),                      |
|       |             |             |          |                           TELEFONO  INT ,                         |
|       |             |             |          |                       COD_SEGMENTO VARCHAR(3)                     |
|       |             |             |          |                                 )                                 |
| table |  DM_PERIODO |  DM_PERIODO |    6     |                      CREATE TABLE DM_PERIODO                      |
|       |             |             |          |                                 (                                 |
|       |             |             |          |              COD_PERIODO INT  NOT NULL PRIMARY KEY ,              |
|       |             |             |          |                           COD_ANYO INT,                           |
|       |             |             |          |                     DESC_PERIODO VARCHAR(20),                     |
|       |             |             |          |                        COD_TRIM VARCHAR(2)                        |
|       |             |             |          |                                 )                                 |
| table |  DM_TARIFA  |  DM_TARIFA  |    8     |                       CREATE TABLE DM_TARIFA                      |
|       |             |             |          |                                 (                                 |
|       |             |             |          |               Cod_tarifa INT  NOT NULL PRIMARY KEY,               |
|       |             |             |          |                       cod_grupo_tarifa INT,                       |
|       |             |             |          |                      Desc_tarifa varchar(100)                     |
|       |             |             |          |                                 )                                 |
| table | DM_SEGMENTO | DM_SEGMENTO |    10    |                      CREATE TABLE DM_SEGMENTO                     |
|       |             |             |          |                                 (                                 |
|       |             |             |          |                 Cod_segmento varchar(3)  NOT NULL,                |
|       |             |             |          |                     Desc_segmento varchar(100)                    |
|       |             |             |          |                                 )                                 |
| table |  HC_CONSUMO |  HC_CONSUMO |    4     |                     CREATE TABLE HC_CONSUMO (                     |
|       |             |             |          |                       COD_CLIENTE INT NOT NULL,                   |
|       |             |             |          |                            COD_TARIFA INT,                        |
|       |             |             |          |                            COD_PERIODO INT,                       |
|       |             |             |          |                         CONSUMO DECIMAL(8,2),                     |
|       |             |             |          |                 PRIMARY KEY(COD_CLIENTE, COD_PERIODO),            |
|       |             |             |          |     FOREIGN KEY(COD_CLIENTE) REFERENCES DM_CLIENTE (COD_CLIENTE), |
|       |             |             |          |       FOREIGN KEY(COD_TARIFA) REFERENCES DM_TARIFA (COD_TARIFA),  |
|       |             |             |          |      FOREIGN KEY(COD_PERIODO) REFERENCES DM_PERIODO (COD_PERIODO) |
|       |             |             |          |                                 )                                 |
+-------+-------------+-------------+----------+-------------------------------------------------------------------+

### <i class="fa fa-pencil-square-o"></i> Caso 1  
Crear las tablas DM_TARIFA y DM_SEGMENTO con los siguientes campos:
DM_TARIFA:  
- Cod_tarifa de tipo entero obligatorio
- cod_grupo_tarifa de tipo entero
- Desc_tarifa de tipo texto con longitud 100

DM_SEGMENTO:
- Cod_segmento: de tipo texto 3 posiciones obligatorio
- Desc_segmento: de tipo texto 100 posiciones

In [ ]:
# solucion 1
%%sql
CREATE TABLE DM_TARIFA
(
Cod_tarifa INT  NOT NULL PRIMARY KEY,
cod_grupo_tarifa INT,
Desc_tarifa varchar(100)
);

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

++
||
++
++

In [ ]:
%%sql

CREATE TABLE DM_SEGMENTO
(
Cod_segmento varchar(3)  NOT NULL,
Desc_segmento varchar(100)
);

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

++
||
++
++

Borrado de la tabla HC_CONSUMO

In [ ]:
%sql DROP TABLE HC_CONSUMO

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

++
||
++
++

Creamos de nuevo la tabla HC_CONSUMO añadiendo las claves foráneas

In [ ]:
%%sql
CREATE TABLE HC_CONSUMO (
    COD_CLIENTE INT NOT NULL,
    COD_TARIFA INT,
    COD_PERIODO INT,
    CONSUMO DECIMAL(8,2),
    PRIMARY KEY(COD_CLIENTE, COD_PERIODO),
    FOREIGN KEY(COD_CLIENTE) REFERENCES DM_CLIENTE (COD_CLIENTE),
    FOREIGN KEY(COD_TARIFA) REFERENCES DM_TARIFA (COD_TARIFA),
    FOREIGN KEY(COD_PERIODO) REFERENCES DM_PERIODO (COD_PERIODO)
);

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

++
||
++
++

Consultamos las claves foráneas

In [ ]:
%sql PRAGMA foreign_key_list('HC_CONSUMO')

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+----+-----+------------+-------------+-------------+-----------+-----------+-------+
| id | seq |   table    |     from    |      to     | on_update | on_delete | match |
+----+-----+------------+-------------+-------------+-----------+-----------+-------+
| 0  |  0  | DM_PERIODO | COD_PERIODO | COD_PERIODO | NO ACTION | NO ACTION |  NONE |
| 1  |  0  | DM_TARIFA  |  COD_TARIFA |  COD_TARIFA | NO ACTION | NO ACTION |  NONE |
| 2  |  0  | DM_CLIENTE | COD_CLIENTE | COD_CLIENTE | NO ACTION | NO ACTION |  NONE |
+----+-----+------------+-------------+-------------+-----------+-----------+-------+

In [ ]:
%sql PRAGMA table_info('HC_CONSUMO');

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-----+-------------+--------------+---------+------------+----+
| cid |     name    |     type     | notnull | dflt_value | pk |
+-----+-------------+--------------+---------+------------+----+
|  0  | COD_CLIENTE |     INT      |    1    |    None    | 1  |
|  1  |  COD_TARIFA |     INT      |    0    |    None    | 0  |
|  2  | COD_PERIODO |     INT      |    0    |    None    | 2  |
|  3  |   CONSUMO   | DECIMAL(8,2) |    0    |    None    | 0  |
+-----+-------------+--------------+---------+------------+----+

En SQLite, PRAGMA es una instrucción que se utiliza para interactuar con parámetros y configuraciones específicos de la base de datos. No es una operación SQL estándar, sino que es una extensión propia de SQLite que proporciona acceso a información y configuraciones adicionales. El propósito principal de PRAGMA es permitir a los usuarios y aplicaciones obtener o modificar ciertos aspectos de la configuración de la base de datos, ajustar el comportamiento del motor SQLite y obtener información sobre la base de datos y sus objetos

In [ ]:
%sql PRAGMA database_list;

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-----+------+-------------------------------------+
| seq | name |                 file                |
+-----+------+-------------------------------------+
|  0  | main | /content/drive/MyDrive/BBDD/test.db |
+-----+------+-------------------------------------+

Activamos la validación de las FK

In [ ]:
%sql PRAGMA foreign_keys = ON;

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

++
||
++
++

In [ ]:
%sql PRAGMA foreign_keys

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+--------------+
| foreign_keys |
+--------------+
|      1       |
+--------------+

### Cambiamos la estructura de tablas ya existentes

Creamos una columna nueva

In [ ]:
%sql ALTER TABLE DM_TARIFA ADD TIPO_TARIFA VARCHAR(5);

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

++
||
++
++

In [ ]:
%sql PRAGMA table_info('DM_TARIFA');

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-----+------------------+--------------+---------+------------+----+
| cid |       name       |     type     | notnull | dflt_value | pk |
+-----+------------------+--------------+---------+------------+----+
|  0  |    Cod_tarifa    |     INT      |    1    |    None    | 1  |
|  1  | cod_grupo_tarifa |     INT      |    0    |    None    | 0  |
|  2  |   Desc_tarifa    | varchar(100) |    0    |    None    | 0  |
|  3  |   TIPO_TARIFA    |  VARCHAR(5)  |    0    |    None    | 0  |
+-----+------------------+--------------+---------+------------+----+

Borramos la nueva columna:

In [ ]:
%sql ALTER TABLE DM_TARIFA DROP COLUMN TIPO_TARIFA ;

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

++
||
++
++

La mayoría de los SGDB permiten añadir las claves primarias o foráneas con un alter table (sqlite no). Ejemplos:

Ejemplos:   
ALTER TABLE DM_CLIENTE ADD CONSTRAINT PK_CLIENTE PRIMARY KEY (COD_CLIENTE);   
ALTER TABLE HC_CONSUMO ADD CONSTRAINT PK_CONSUMO PRIMARY KEY (COD_CLIENTE, COD_PERIODO);   
ALTER TABLE HC_CONSUMO
ADD CONSTRAINT FK_CONSUMO_CLIENTE
   FOREIGN KEY (COD_CLIENTE)
   REFERENCES DM_CLIENTE (COD_CLIENTE);

## Insertar, actualizar y borrar registros

Inserto un registro en la tabla tarifas:

In [ ]:
%%sql
INSERT INTO DM_TARIFA (COD_TARIFA, COD_GRUPO_TARIFA, DESC_TARIFA)
VALUES (100, 1, 'Tarifa 100'  );

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

1 rows affected.

++
||
++
++

In [ ]:
%sql select * from DM_TARIFA

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+------------+------------------+-------------+
| Cod_tarifa | cod_grupo_tarifa | Desc_tarifa |
+------------+------------------+-------------+
|    100     |        1         |  Tarifa 100 |
+------------+------------------+-------------+

Pila de inserts (importante el ; en cada sentencia):

In [ ]:
%%sql

INSERT INTO DM_TARIFA (COD_TARIFA, COD_GRUPO_TARIFA, DESC_TARIFA)
VALUES (101, 1, 'Tarifa 101'  );
INSERT INTO DM_TARIFA (COD_TARIFA, COD_GRUPO_TARIFA, DESC_TARIFA)
VALUES (102, 2, 'Tarifa 102'  );
INSERT INTO DM_TARIFA (COD_TARIFA, COD_GRUPO_TARIFA, DESC_TARIFA)
VALUES (103, 2, 'Tarifa 103'  );
INSERT INTO DM_TARIFA (COD_TARIFA, COD_GRUPO_TARIFA, DESC_TARIFA)
VALUES (104, 2, 'Tarifa 104'  );

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

### <i class="fa fa-pencil-square-o"></i> Caso 2   
Generar los inserts necesarios para insertar los siguientes registros en la tabla DM_SEGMENTO:  
Cod_segmento  desc_segmento  
1  segmento 1  
2  segmento 2  
3  segmento 3  
4  segmento 3

In [ ]:
%%sql

INSERT INTO DM_SEGMENTO (Cod_segmento,desc_segmento)
VALUES (1,'segmento 1');
INSERT INTO DM_SEGMENTO (Cod_segmento,desc_segmento)
VALUES (2,'segmento 2');
INSERT INTO DM_SEGMENTO (Cod_segmento,desc_segmento)
VALUES (3,'segmento 3');
INSERT INTO DM_SEGMENTO (Cod_segmento,desc_segmento)
VALUES (4,'segmento 4');

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [ ]:
%sql select * FROM DM_SEGMENTO

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+--------------+---------------+
| Cod_segmento | Desc_segmento |
+--------------+---------------+
|      1       |   segmento 1  |
|      2       |   segmento 2  |
|      3       |   segmento 3  |
|      4       |   SEGMENTO 4  |
+--------------+---------------+

Corregimos el registro erróneo mediante una sentencia UPDATE:

In [ ]:
%%sql
UPDATE DM_SEGMENTO SET DESC_SEGMENTO = 'SEGMENTO 4' WHERE COD_SEGMENTO = 4;

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

1 rows affected.

++
||
++
++

Borramos el registro correspondiente a cod_segmento = 4

In [ ]:
%%sql
DELETE FROM DM_SEGMENTO  WHERE COD_SEGMENTO = 4;

Running query in 'sqlite:///test.db'

1 rows affected.

++
||
++
++

Creamos DM_SEGMENTO2 como copia de la anterior:

### <i class="fa fa-pencil-square-o"></i> Caso 3   
Corregir DM_SEGMENTO y actualizar cod_segmento = 3 a desc_segmento = 'Segmento 3'

In [ ]:
# solución

Insertar los siguientes registros en la tabla DM_CLIENTE:

In [ ]:
%%sql
insert into DM_CLIENTE (COD_CLIENTE, TIPO_CLIENTE, NOMBRE, TELEFONO, COD_SEGMENTO)
values (1, 'RES', 'Pepe García Martínez', 666555222, 1);
insert into DM_CLIENTE (COD_CLIENTE, TIPO_CLIENTE, NOMBRE, TELEFONO, COD_SEGMENTO)
values (2, 'RES', 'Lucía García Pérez', 666455322, 1);
insert into DM_CLIENTE (COD_CLIENTE, TIPO_CLIENTE, NOMBRE, TELEFONO, COD_SEGMENTO)
values (3, 'EMP', 'Repuestos Jiménez S.A.', 667456322, 2);
insert into DM_CLIENTE (COD_CLIENTE, TIPO_CLIENTE, NOMBRE, TELEFONO, COD_SEGMENTO)
values (4, 'EMP', 'ABC Consulting', 666655322, 3);
insert into DM_CLIENTE (COD_CLIENTE, TIPO_CLIENTE, NOMBRE, TELEFONO, COD_SEGMENTO)
values (5, 'RES', 'Patricia Sánchez Río', 666655311, 2);
insert into DM_CLIENTE (COD_CLIENTE, TIPO_CLIENTE, NOMBRE, TELEFONO, COD_SEGMENTO)
values (6, 'RES', 'Jorge Lucas Sánchez', 661155311, 1);
insert into DM_CLIENTE (COD_CLIENTE, TIPO_CLIENTE, NOMBRE, TELEFONO, COD_SEGMENTO)
values (7, 'RES', 'Luca Bugno Francescoli', 661155344, 3);
insert into DM_CLIENTE (COD_CLIENTE, TIPO_CLIENTE, NOMBRE, TELEFONO, COD_SEGMENTO)
values (8, 'EMP', 'Editorial XYZ', 669155374, 3);

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

Segunda versión de la tabla clientes usando __secuencias__ y valores __por defecto__

In [ ]:
%%sql
CREATE TABLE DM_CLIENTE2
(
 COD_CLIENTE INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT ,
 TIPO_CLIENTE  VARCHAR(4),
 NOMBRE  VARCHAR(100),
 TELEFONO  INT ,
COD_SEGMENTO VARCHAR(3) DEFAULT 'S1'
);

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

++
||
++
++

In [ ]:
%%sql
insert into DM_CLIENTE2 (TIPO_CLIENTE, NOMBRE, TELEFONO)
values ('RES', 'Pepe García Martínez', 666555222);
insert into DM_CLIENTE2 (TIPO_CLIENTE, NOMBRE, TELEFONO)
values ('RES', 'Lucía García Pérez', 666455322);
insert into DM_CLIENTE2 (TIPO_CLIENTE, NOMBRE, TELEFONO)
values ('EMP', 'Repuestos Jiménez S.A.', 667456322);

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [ ]:
%sql select * FROM DM_CLIENTE2

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+--------------+------------------------+-----------+--------------+
| COD_CLIENTE | TIPO_CLIENTE |         NOMBRE         |  TELEFONO | COD_SEGMENTO |
+-------------+--------------+------------------------+-----------+--------------+
|      1      |     RES      |  Pepe García Martínez  | 666555222 |      S1      |
|      2      |     RES      |   Lucía García Pérez   | 666455322 |      S1      |
|      3      |     EMP      | Repuestos Jiménez S.A. | 667456322 |      S1      |
+-------------+--------------+------------------------+-----------+--------------+

Insertar los siguientes registros en DM_PERIODO:

In [ ]:
%%sql
insert into DM_PERIODO (cod_periodo, cod_anyo, desc_periodo, cod_trim)
values (201710,2017,'2017 Octubre','T4');
insert into DM_PERIODO (cod_periodo, cod_anyo, desc_periodo, cod_trim)
values (201711,2017,'2017 Noviembre','T4');
insert into DM_PERIODO (cod_periodo, cod_anyo, desc_periodo, cod_trim)
values (201712,2017,'2017 Diciembre','T4');
insert into DM_PERIODO (cod_periodo, cod_anyo, desc_periodo, cod_trim)
values (201801,2017,'2018 Enero','T1');
insert into DM_PERIODO (cod_periodo, cod_anyo, desc_periodo, cod_trim)
values (201802,2018,'2018 Febrero','T1');
insert into DM_PERIODO (cod_periodo, cod_anyo, desc_periodo, cod_trim)
values (201803,2018,'2018 Marzo','T1');

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

### <i class="fa fa-pencil-square-o"></i> Caso 4  
Probar a insertar los siguientes registros en HC_CONSUMO e interpretar los errores indicados:

In [ ]:
%%sql
insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (1,100, 201710, 10);
insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (1,100, 201710, 20);
insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (10,100, 201710, 10);

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

1 rows affected.

RuntimeError: (sqlite3.IntegrityError) UNIQUE constraint failed: HC_CONSUMO.COD_CLIENTE, HC_CONSUMO.COD_PERIODO
[SQL: insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (1,100, 201710, 20);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [ ]:
%%sql
insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (10,100, 201710, 10);

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

RuntimeError: (sqlite3.IntegrityError) UNIQUE constraint failed: HC_CONSUMO.COD_CLIENTE, HC_CONSUMO.COD_PERIODO
[SQL: insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (10,100, 201710, 10);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [ ]:
%sql select * from HC_CONSUMO;

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+------------+-------------+---------+
| COD_CLIENTE | COD_TARIFA | COD_PERIODO | CONSUMO |
+-------------+------------+-------------+---------+
|      1      |    100     |    201710   |    10   |
|      10     |    100     |    201710   |    10   |
+-------------+------------+-------------+---------+

In [ ]:
%sql PRAGMA foreign_keys = OFF;

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

++
||
++
++

In [ ]:
%sql PRAGMA foreign_keys

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+--------------+
| foreign_keys |
+--------------+
|      0       |
+--------------+

In [ ]:
%sql select * FROM DM_CLIENTE;

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+--------------+------------------------+-----------+--------------+
| COD_CLIENTE | TIPO_CLIENTE |         NOMBRE         |  TELEFONO | COD_SEGMENTO |
+-------------+--------------+------------------------+-----------+--------------+
|      1      |     RES      |  Pepe García Martínez  | 666555222 |      1       |
|      2      |     RES      |   Lucía García Pérez   | 666455322 |      1       |
|      3      |     EMP      | Repuestos Jiménez S.A. | 667456322 |      2       |
|      4      |     EMP      |     ABC Consulting     | 666655322 |      3       |
|      5      |     RES      |  Patricia Sánchez Río  | 666655311 |      2       |
|      6      |     RES      |  Jorge Lucas Sánchez   | 661155311 |      1       |
|      7      |     RES      | Luca Bugno Francescoli | 661155344 |      3       |
|      8      |     EMP      |     Editorial XYZ      | 669155374 |      3       |
+-------------+--------------+------------------------+-----------+--------------+

In [ ]:
%sql select count(*) from HC_CONSUMO;

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+----------+
| count(*) |
+----------+
|    41    |
+----------+

Insertamos los siguientes registros en HC_CONSUMO:

In [ ]:
%%sql
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (2,101, 201710, 14);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (3,102, 201710, 18);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (4,103, 201710, 20);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (5,104, 201710, 30);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (6,100, 201710, 17);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (7,104, 201710, 11.5);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (1,100, 201711, 20);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (2,101, 201711, 14.7);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (3,102, 201711, 17.5);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (4,103, 201711, 22);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (5,104, 201711, 33.7);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (6,100, 201711, 17.2);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (7,104, 201711, 12.5);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (10,102, 201711, 20);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (1,100, 201712, 20);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (2,101, 201712, 14.6);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (3,102, 201712, 12.5);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (4,103, 201712, 21.2);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (5,104, 201712, 36.2);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (6,100, 201712, 18.6);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (7,104, 201712, 18.5);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (10,102, 201712, 21.3);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (1,100, 201801, 24);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (2,101, 201801, 15.6);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (3,102, 201801, 16.5);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (4,103, 201801, 20.9);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (5,104, 201801, 34.2);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (6,100, 201801, 18.8);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (7,104, 201801, 18.3);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (8,103, 201801, 15.9);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (10,102, 201801, 21.3);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (1,100, 201802, 21.4);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (2,101, 201802, 15.4);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (3,102, 201802, 17.5);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (4,103, 201802, 23.7);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (5,104, 201802, 31);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (6,100, 201802, 18);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (8,103, 201802, 14.4);
Insert into HC_CONSUMO(cod_cliente, cod_tarifa, cod_periodo, consumo)
values (10,102, 201802, 22.6);

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

Instrucciones de creación de tablas y de insercción

## Consultar registros

Obtenemos un listado de todos los clientes

In [ ]:
%sql Select count(*) from DM_CLIENTE

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+----------+
| count(*) |
+----------+
|    8     |
+----------+

Volcar la salida a un DataFrame

In [ ]:
res = %sql select * from DM_CLIENTE
res

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+--------------+------------------------+-----------+--------------+
| COD_CLIENTE | TIPO_CLIENTE |         NOMBRE         |  TELEFONO | COD_SEGMENTO |
+-------------+--------------+------------------------+-----------+--------------+
|      1      |     RES      |  Pepe García Martínez  | 666555222 |      1       |
|      2      |     RES      |   Lucía García Pérez   | 666455322 |      1       |
|      3      |     EMP      | Repuestos Jiménez S.A. | 667456322 |      2       |
|      4      |     EMP      |     ABC Consulting     | 666655322 |      3       |
|      5      |     RES      |  Patricia Sánchez Río  | 666655311 |      2       |
|      6      |     RES      |  Jorge Lucas Sánchez   | 661155311 |      1       |
|      7      |     RES      | Luca Bugno Francescoli | 661155344 |      3       |
|      8      |     EMP      |     Editorial XYZ      | 669155374 |      3       |
+-------------+--------------+------------------------+-----------+--------------+

In [ ]:
type(res)

sql.run.resultset.ResultSet

In [ ]:
df_clientes = res.DataFrame()

In [ ]:
df_clientes

   COD_CLIENTE TIPO_CLIENTE                  NOMBRE   TELEFONO COD_SEGMENTO
0            1          RES    Pepe García Martínez  666555222            1
1            2          RES      Lucía García Pérez  666455322            1
2            3          EMP  Repuestos Jiménez S.A.  667456322            2
3            4          EMP          ABC Consulting  666655322            3
4            5          RES    Patricia Sánchez Río  666655311            2
5            6          RES     Jorge Lucas Sánchez  661155311            1
6            7          RES  Luca Bugno Francescoli  661155344            3
7            8          EMP           Editorial XYZ  669155374            3

In [ ]:
Filtramos por los clientes del sector empresa mostrando el nombre y el cod_cliente:

In [ ]:
%sql select cod_cliente, nombre  from DM_CLIENTE where tipo_cliente = 'EMP'

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+------------------------+
| COD_CLIENTE |         NOMBRE         |
+-------------+------------------------+
|      3      | Repuestos Jiménez S.A. |
|      4      |     ABC Consulting     |
|      8      |     Editorial XYZ      |
+-------------+------------------------+

### <i class="fa fa-pencil-square-o"></i> Caso 5
Mostrar los clientes del segmento = 3 mostrando su nombre, tipo_cliente y telefono

In [ ]:
# solucion
%%sql
select nombre,tipo_cliente,telefono
from DM_CLIENTE where COD_SEGMENTO = 3

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+------------------------+--------------+-----------+
|         NOMBRE         | TIPO_CLIENTE |  TELEFONO |
+------------------------+--------------+-----------+
|     ABC Consulting     |     EMP      | 666655322 |
| Luca Bugno Francescoli |     RES      | 661155344 |
|     Editorial XYZ      |     EMP      | 669155374 |
+------------------------+--------------+-----------+

Ordenamos listado cliente por cod_cliente

In [ ]:
%sql select * from DM_CLIENTE order by cod_cliente

Running query in 'sqlite:///test.db'

+-------------+--------------+------------------------+-----------+--------------+
| COD_CLIENTE | TIPO_CLIENTE |         NOMBRE         |  TELEFONO | COD_SEGMENTO |
+-------------+--------------+------------------------+-----------+--------------+
|      1      |     RES      |  Pepe García Martínez  | 666555222 |      1       |
|      2      |     RES      |   Lucía García Pérez   | 666455322 |      1       |
|      3      |     EMP      | Repuestos Jiménez S.A. | 667456322 |      2       |
|      4      |     EMP      |     ABC Consulting     | 666655322 |      3       |
|      5      |     RES      |  Patricia Sánchez Río  | 666655311 |      2       |
|      6      |     RES      |  Jorge Lucas Sánchez   | 661155311 |      1       |
|      7      |     RES      | Luca Bugno Francescoli | 661155344 |      3       |
|      8      |     EMP      |     Editorial XYZ      | 669155374 |      3       |
+-------------+--------------+------------------------+-----------+--------------+

Obtenemos el consumo de los clientes en el periodo = 201802 para la tarifa = 102:

In [ ]:
%sql select * from HC_CONSUMO where cod_periodo = 201802 and cod_tarifa = 102

Running query in 'sqlite:///test.db'

+-------------+------------+-------------+---------+
| COD_CLIENTE | COD_TARIFA | COD_PERIODO | CONSUMO |
+-------------+------------+-------------+---------+
|      3      |    102     |    201802   |   17.5  |
|      10     |    102     |    201802   |   22.6  |
+-------------+------------+-------------+---------+

Idem al anterior, pero considerando tarifa 101 y 102:

In [ ]:
%%sql
select * from HC_CONSUMO where cod_periodo = 201802
and cod_tarifa in (101,102)

Running query in 'sqlite:///test.db'

+-------------+------------+-------------+---------+
| COD_CLIENTE | COD_TARIFA | COD_PERIODO | CONSUMO |
+-------------+------------+-------------+---------+
|      2      |    101     |    201802   |   15.4  |
|      3      |    102     |    201802   |   17.5  |
|      10     |    102     |    201802   |   22.6  |
+-------------+------------+-------------+---------+

Idem al anterior, pero considerando consumos superiores a 16:

In [ ]:
%%sql
select * from HC_CONSUMO where cod_periodo = 201802
and cod_tarifa in (101,102) and consumo > 16

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+------------+-------------+---------+
| COD_CLIENTE | COD_TARIFA | COD_PERIODO | CONSUMO |
+-------------+------------+-------------+---------+
|      3      |    102     |    201802   |   17.5  |
|      10     |    102     |    201802   |   22.6  |
+-------------+------------+-------------+---------+

### <i class="fa fa-pencil-square-o"></i> Caso 6
Obtener los clientes de las tarifas 103 y 104 que han superado un consumo de 20 en el periodo 201801

In [ ]:
# solucions
%%sql
select * from HC_CONSUMO
where COD_TARIFA in (103, 104) and COD_PERIODO = 201801 and CONSUMO >20

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+------------+-------------+---------+
| COD_CLIENTE | COD_TARIFA | COD_PERIODO | CONSUMO |
+-------------+------------+-------------+---------+
|      4      |    103     |    201801   |   20.9  |
|      5      |    104     |    201801   |   34.2  |
+-------------+------------+-------------+---------+

Idem al anterior, pero añadiendo el periodo 201802 y ordenando la salida por periodo de forma ascendente:

In [ ]:
%%sql
select * from HC_CONSUMO where cod_periodo in ( 201801, 201802)
and cod_tarifa in (103,104) and consumo >  20
order by cod_periodo

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+------------+-------------+---------+
| COD_CLIENTE | COD_TARIFA | COD_PERIODO | CONSUMO |
+-------------+------------+-------------+---------+
|      4      |    103     |    201801   |   20.9  |
|      5      |    104     |    201801   |   34.2  |
|      4      |    103     |    201802   |   23.7  |
|      5      |    104     |    201802   |    31   |
+-------------+------------+-------------+---------+

en forma descendente:

In [ ]:
%%sql
select * from HC_CONSUMO where cod_periodo in ( 201801, 201802)
and cod_tarifa in (103,104) and consumo >  20
order by  cod_periodo  desc

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+------------+-------------+---------+
| COD_CLIENTE | COD_TARIFA | COD_PERIODO | CONSUMO |
+-------------+------------+-------------+---------+
|      4      |    103     |    201802   |   23.7  |
|      5      |    104     |    201802   |    31   |
|      4      |    103     |    201801   |   20.9  |
|      5      |    104     |    201801   |   34.2  |
+-------------+------------+-------------+---------+

Obtener el consumo de los clientes en 201801 ordenado de mayor a menor consumo:

In [ ]:
%%sql
select * from HC_CONSUMO where cod_periodo = 201801
order by consumo desc

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+------------+-------------+---------+
| COD_CLIENTE | COD_TARIFA | COD_PERIODO | CONSUMO |
+-------------+------------+-------------+---------+
|      5      |    104     |    201801   |   34.2  |
|      1      |    100     |    201801   |    24   |
|      10     |    102     |    201801   |   21.3  |
|      4      |    103     |    201801   |   20.9  |
|      6      |    100     |    201801   |   18.8  |
|      7      |    104     |    201801   |   18.3  |
|      3      |    102     |    201801   |   16.5  |
|      8      |    103     |    201801   |   15.9  |
|      2      |    101     |    201801   |   15.6  |
+-------------+------------+-------------+---------+

In [ ]:
%%sql
select nombre, tipo_cliente, telefono  from DM_CLIENTE where cod_segmento = 3;

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+------------------------+--------------+-----------+
|         NOMBRE         | TIPO_CLIENTE |  TELEFONO |
+------------------------+--------------+-----------+
|     ABC Consulting     |     EMP      | 666655322 |
| Luca Bugno Francescoli |     RES      | 661155344 |
|     Editorial XYZ      |     EMP      | 669155374 |
+------------------------+--------------+-----------+

In [ ]:
%%sql
select * from HC_CONSUMO where cod_periodo = 201802
and cod_tarifa in (101,102) and consumo > 16
order by cod_cliente desc

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+------------+-------------+---------+
| COD_CLIENTE | COD_TARIFA | COD_PERIODO | CONSUMO |
+-------------+------------+-------------+---------+
|      10     |    102     |    201802   |   22.6  |
|      3      |    102     |    201802   |   17.5  |
+-------------+------------+-------------+---------+

Obtener el consumo máximo y mínimo de 201801:

In [ ]:
%sql select max(consumo), min(consumo) from HC_CONSUMO where cod_periodo = 201801

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+--------------+--------------+
| max(consumo) | min(consumo) |
+--------------+--------------+
|     34.2     |     15.6     |
+--------------+--------------+

In [ ]:
%sql select max(consumo) from HC_CONSUMO where cod_periodo = 201802

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+--------------+
| max(consumo) |
+--------------+
|      31      |
+--------------+

Crear una vista que muestre los datos de 201801 con los campos cod_cliente, cod_tarifa y consumo.  
Revisar el resultado en la BBDD

In [ ]:
%%sql
create view HC_CONSUMO_201801 as
select cod_cliente, cod_tarifa, consumo
from HC_CONSUMO
where cod_periodo = 201801

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

RuntimeError: (sqlite3.OperationalError) table HC_CONSUMO_201801 already exists
[SQL: create view HC_CONSUMO_201801 as
select cod_cliente, cod_tarifa, consumo
from HC_CONSUMO
where cod_periodo = 201801]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

Consultar la vista

In [ ]:
%sql select * from HC_CONSUMO_201801

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+------------+---------+
| COD_CLIENTE | COD_TARIFA | CONSUMO |
+-------------+------------+---------+
|      1      |    100     |    24   |
|      2      |    101     |   15.6  |
|      3      |    102     |   16.5  |
|      4      |    103     |   20.9  |
|      5      |    104     |   34.2  |
|      6      |    100     |   18.8  |
|      7      |    104     |   18.3  |
|      8      |    103     |   15.9  |
|      10     |    102     |   21.3  |
+-------------+------------+---------+

Valores distintos del periodo que hay en la tabla consumo:

In [ ]:
%%sql
-- comentario
/* comentario */
Select distinct cod_periodo from HC_CONSUMO;

Running query in 'sqlite:///test.db'

+-------------+
| COD_PERIODO |
+-------------+
|    201710   |
|    201711   |
|    201712   |
|    201801   |
|    201802   |
+-------------+

Creamos un campo calculado llamado grupo_tarifa que toma el valor ‘G1’ para las tarifas 100 y 102 y ‘G2’ para el resto:

In [ ]:
%%sql
select cod_cliente, cod_tarifa, consumo,
case when (cod_tarifa in (100,101)) then 'G1' else 'G2' end  grupo_tarifa
from HC_CONSUMO where cod_periodo = 201801;

Running query in 'sqlite:///test.db'

+-------------+------------+---------+--------------+
| COD_CLIENTE | COD_TARIFA | CONSUMO | grupo_tarifa |
+-------------+------------+---------+--------------+
|      1      |    100     |    24   |      G1      |
|      2      |    101     |   15.6  |      G1      |
|      3      |    102     |   16.5  |      G2      |
|      4      |    103     |   20.9  |      G2      |
|      5      |    104     |   34.2  |      G2      |
|      6      |    100     |   18.8  |      G1      |
|      7      |    104     |   18.3  |      G2      |
|      8      |    103     |   15.9  |      G2      |
|      10     |    102     |   21.3  |      G2      |
+-------------+------------+---------+--------------+

Creamos un campo calculado llamado nivel_consumo  que toma los siguientes valores:  

Consumo < 10 -> 1  

Consumo >= 10 and consumo < 20 -> 2  

Consumo >=20 and consumo < 30 -> 3  

Resto -> 4

In [ ]:
%%sql
select cod_cliente, cod_tarifa, consumo,
case
when (consumo < 10) then 1
when (consumo >= 10 and consumo < 20) then 2
when (consumo >= 20 and consumo < 30) then 3
else 4
end  nivel_consumo
from HC_CONSUMO where cod_periodo = 201801;

Running query in 'sqlite:///test.db'

+-------------+------------+---------+---------------+
| COD_CLIENTE | COD_TARIFA | CONSUMO | nivel_consumo |
+-------------+------------+---------+---------------+
|      1      |    100     |    24   |       3       |
|      2      |    101     |   15.6  |       2       |
|      3      |    102     |   16.5  |       2       |
|      4      |    103     |   20.9  |       3       |
|      5      |    104     |   34.2  |       4       |
|      6      |    100     |   18.8  |       2       |
|      7      |    104     |   18.3  |       2       |
|      8      |    103     |   15.9  |       2       |
|      10     |    102     |   21.3  |       3       |
+-------------+------------+---------+---------------+

In [ ]:
Obtenemos el sumatorio del consumo a nivel de periodo:

In [ ]:
%%sql
select cod_periodo, sum(consumo) from HC_CONSUMO
group by cod_periodo
order by cod_periodo

Running query in 'sqlite:///test.db'

+-------------+--------------------+
| COD_PERIODO |    sum(consumo)    |
+-------------+--------------------+
|    201710   |       130.5        |
|    201711   | 157.60000000000002 |
|    201712   |       162.9        |
|    201801   | 185.50000000000003 |
|    201802   |       164.0        |
+-------------+--------------------+

Obtenemos la media de consumo por periodo:

In [ ]:
%%sql
select cod_periodo, avg(consumo) from HC_CONSUMO
group by cod_periodo
order by cod_periodo

Running query in 'sqlite:///test.db'

+-------------+--------------------+
| COD_PERIODO |    avg(consumo)    |
+-------------+--------------------+
|    201710   |      16.3125       |
|    201711   | 19.700000000000003 |
|    201712   |      20.3625       |
|    201801   | 20.611111111111114 |
|    201802   |        20.5        |
+-------------+--------------------+

Realizamos un redondeo sobre el campo consumo medio:

In [ ]:
%%sql
select cod_periodo, round(avg(consumo),1) as consumo_medio
from HC_CONSUMO
group by cod_periodo
order by cod_periodo

Running query in 'sqlite:///test.db'

+-------------+---------------+
| COD_PERIODO | consumo_medio |
+-------------+---------------+
|    201710   |      16.3     |
|    201711   |      19.7     |
|    201712   |      20.4     |
|    201801   |      20.6     |
|    201802   |      20.5     |
+-------------+---------------+

### <i class="fa fa-pencil-square-o"></i> Caso 7
Obtener el consumo medio a nivel de periodo de los clientes de la tarifa 102 para el año 2018.

In [ ]:
%sql select * from HC_CONSUMO

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+------------+-------------+---------+
| COD_CLIENTE | COD_TARIFA | COD_PERIODO | CONSUMO |
+-------------+------------+-------------+---------+
|      1      |    100     |    201710   |    10   |
|      10     |    100     |    201710   |    10   |
|      2      |    101     |    201710   |    14   |
|      3      |    102     |    201710   |    18   |
|      4      |    103     |    201710   |    20   |
|      5      |    104     |    201710   |    30   |
|      6      |    100     |    201710   |    17   |
|      7      |    104     |    201710   |   11.5  |
|      1      |    100     |    201711   |    20   |
|      2      |    101     |    201711   |   14.7  |
+-------------+------------+-------------+---------+
Truncated to displaylimit of 10.

In [ ]:
# solución
%%sql
Select cod_periodo, avg(consumo) as cosumo_medio
from HC_CONSUMO
where cod_tarifa = 102
and cod_periodo like '2018%'
group by cod_periodo

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+--------------+
| COD_PERIODO | cosumo_medio |
+-------------+--------------+
|    201801   |     18.9     |
|    201802   |    20.05     |
+-------------+--------------+

Si la consulta tiene varias lineas

In [ ]:
sql = """
select cod_cliente, cod_tarifa, consumo, (cod_cliente+ cod_tarifa) as cod_new ,
case
    when (cod_tarifa in (100,101)) then 'G1'
    else 'G2'
end  grupo_tarifa
from HC_CONSUMO where cod_periodo = 201801;"""

In [ ]:
sql

"\nselect cod_cliente, cod_tarifa, consumo, (cod_cliente+ cod_tarifa) as cod_new ,\ncase \n    when (cod_tarifa in (100,101)) then 'G1' \n    else 'G2' \nend  grupo_tarifa\nfrom HC_CONSUMO where cod_periodo = 201801;"

In [ ]:
res = %sql {{sql}}
res

Running query in 'sqlite:///test.db'

+-------------+------------+---------+---------+--------------+
| COD_CLIENTE | COD_TARIFA | CONSUMO | cod_new | grupo_tarifa |
+-------------+------------+---------+---------+--------------+
|      1      |    100     |    24   |   101   |      G1      |
|      2      |    101     |   15.6  |   103   |      G1      |
|      3      |    102     |   16.5  |   105   |      G2      |
|      4      |    103     |   20.9  |   107   |      G2      |
|      5      |    104     |   34.2  |   109   |      G2      |
|      6      |    100     |   18.8  |   106   |      G1      |
|      7      |    104     |   18.3  |   111   |      G2      |
|      8      |    103     |   15.9  |   111   |      G2      |
|      10     |    102     |   21.3  |   112   |      G2      |
+-------------+------------+---------+---------+--------------+

Obtenemos a nivel de tarifa el consumo medio, mínimo , máximo y el rango (max – min):

In [ ]:
%%sql
select cod_tarifa, round(avg(consumo),1), max(consumo), min(consumo), (max(consumo) - min(consumo)) as rango
from HC_CONSUMO
group by cod_tarifa
order by cod_tarifa

Running query in 'sqlite:///test.db'

+------------+-----------------------+--------------+--------------+--------------------+
| COD_TARIFA | round(avg(consumo),1) | max(consumo) | min(consumo) |       rango        |
+------------+-----------------------+--------------+--------------+--------------------+
|    100     |          17.7         |      24      |      10      |         14         |
|    101     |          14.9         |     15.6     |      14      | 1.5999999999999996 |
|    102     |          18.6         |     22.6     |     12.5     | 10.100000000000001 |
|    103     |          19.7         |     23.7     |     14.4     | 9.299999999999999  |
|    104     |          25.1         |     36.2     |     11.5     | 24.700000000000003 |
+------------+-----------------------+--------------+--------------+--------------------+

Obtenemos aquellas tarifas cuyo consumo medio en 2017 es superior a 20:

In [ ]:
%%sql
select cod_tarifa, round(avg(consumo),1) from HC_CONSUMO
where cod_periodo <= 201712
group by cod_tarifa
having avg(consumo) >= 20
order by cod_tarifa

Running query in 'sqlite:///test.db'

+------------+-----------------------+
| COD_TARIFA | round(avg(consumo),1) |
+------------+-----------------------+
|    103     |          21.1         |
|    104     |          23.7         |
+------------+-----------------------+

### <i class="fa fa-pencil-square-o"></i> Caso 8
Obtener los periodos en los que la tarifa 101 supera un consumo medio de 15.

In [ ]:
# solución

%%sql
select COD_PERIODO from HC_CONSUMO
where COD_TARIFA = 101
group by COD_PERIODO
having avg(CONSUMO) > 15;

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+
| COD_PERIODO |
+-------------+
|    201801   |
|    201802   |
+-------------+

Validar si hay registros duplicados para la clave periodo y cliente:

In [ ]:
%%sql
select cod_periodo, cod_cliente, count(*) as conteo
from HC_CONSUMO
group by cod_periodo, cod_cliente
having count(*) > 1

Running query in 'sqlite:///test.db'

+-------------+-------------+--------+
| COD_PERIODO | COD_CLIENTE | conteo |
+-------------+-------------+--------+
+-------------+-------------+--------+

Partiendo de la tabla consumo obtener los datos de consumo del periodo 201801 añadiendo los siguientes datos del cliente: nombre y tipo_cliente:

In [ ]:
%%sql
select a.cod_cliente, a.cod_tarifa, a.cod_periodo, a.consumo,  b.nombre, b.tipo_cliente
from HC_CONSUMO a left join DM_CLIENTE b
on a.cod_cliente = b.cod_cliente
where a.cod_periodo = 201801

Running query in 'sqlite:///test.db'

+-------------+------------+-------------+---------+------------------------+--------------+
| COD_CLIENTE | COD_TARIFA | COD_PERIODO | CONSUMO |         NOMBRE         | TIPO_CLIENTE |
+-------------+------------+-------------+---------+------------------------+--------------+
|      1      |    100     |    201801   |    24   |  Pepe García Martínez  |     RES      |
|      2      |    101     |    201801   |   15.6  |   Lucía García Pérez   |     RES      |
|      3      |    102     |    201801   |   16.5  | Repuestos Jiménez S.A. |     EMP      |
|      4      |    103     |    201801   |   20.9  |     ABC Consulting     |     EMP      |
|      5      |    104     |    201801   |   34.2  |  Patricia Sánchez Río  |     RES      |
|      6      |    100     |    201801   |   18.8  |  Jorge Lucas Sánchez   |     RES      |
|      7      |    104     |    201801   |   18.3  | Luca Bugno Francescoli |     RES      |
|      8      |    103     |    201801   |   15.9  |     Editorial XYZ      |     EMP      |
|      10     |    102     |    201801   |   21.3  |          None          |     None     |
+-------------+------------+-------------+---------+------------------------+--------------+

Probar a realizar el cruce al revés (right join). No lo admite sqlite

In [ ]:
%%sql
select a.cod_cliente, a.cod_tarifa, a.cod_periodo, a.consumo,  b.nombre, b.tipo_cliente
from HC_CONSUMO a right join DM_CLIENTE b
on a.cod_cliente = b.cod_cliente
where a.cod_periodo = 201801

### <i class="fa fa-pencil-square-o"></i> Caso 9
Partiendo de la tabla consumo obtener los datos de consumo del periodo 201802 añadiendo la descripción de la tarifa

In [ ]:
# solución
%%sql
select c.consumo, t.desc_tarifa from hc_consumo c
left join dm_tarifa t on c.cod_tarifa = t.cod_tarifa
where c.cod_periodo = '201802'

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+---------+-------------+
| CONSUMO | Desc_tarifa |
+---------+-------------+
|   21.4  |  Tarifa 100 |
|   15.4  |  Tarifa 101 |
|   17.5  |  Tarifa 102 |
|   23.7  |  Tarifa 103 |
|    31   |  Tarifa 104 |
|    18   |  Tarifa 100 |
|   14.4  |  Tarifa 103 |
|   22.6  |  Tarifa 102 |
+---------+-------------+

Partiendo de la tabla consumo obtener los datos de consumo del periodo 201801 añadiendo los siguientes datos : nombre y teléfono cliente, descripción tarifa y descripción periodo :

In [ ]:
%%sql
select a.cod_cliente, a.cod_tarifa, a.cod_periodo, a.consumo,
b.desc_tarifa, c.nombre, c.telefono, d.desc_periodo
from HC_CONSUMO a
left join DM_TARIFA b on a.cod_tarifa = b.cod_tarifa
left join DM_CLIENTE c on a.cod_cliente = c.cod_cliente
left join DM_PERIODO d on a.cod_periodo = d.cod_periodo
where a.cod_periodo = 201801

Running query in 'sqlite:///test.db'

+-------------+------------+-------------+---------+-------------+------------------------+-----------+--------------+
| COD_CLIENTE | COD_TARIFA | COD_PERIODO | CONSUMO | DESC_TARIFA |         NOMBRE         |  TELEFONO | DESC_PERIODO |
+-------------+------------+-------------+---------+-------------+------------------------+-----------+--------------+
|      1      |    100     |    201801   |    24   |  Tarifa 100 |  Pepe García Martínez  | 666555222 |  2018 Enero  |
|      2      |    101     |    201801   |   15.6  |  Tarifa 101 |   Lucía García Pérez   | 666455322 |  2018 Enero  |
|      3      |    102     |    201801   |   16.5  |  Tarifa 102 | Repuestos Jiménez S.A. | 667456322 |  2018 Enero  |
|      4      |    103     |    201801   |   20.9  |  Tarifa 103 |     ABC Consulting     | 666655322 |  2018 Enero  |
|      5      |    104     |    201801   |   34.2  |  Tarifa 104 |  Patricia Sánchez Río  | 666655311 |  2018 Enero  |
|      6      |    100     |    201801   |   18.8  |  Tarifa 100 |  Jorge Lucas Sánchez   | 661155311 |  2018 Enero  |
|      7      |    104     |    201801   |   18.3  |  Tarifa 104 | Luca Bugno Francescoli | 661155344 |  2018 Enero  |
|      8      |    103     |    201801   |   15.9  |  Tarifa 103 |     Editorial XYZ      | 669155374 |  2018 Enero  |
|      10     |    102     |    201801   |   21.3  |  Tarifa 102 |          None          |    None   |  2018 Enero  |
+-------------+------------+-------------+---------+-------------+------------------------+-----------+--------------+

Partiendo de la tabla consumo obtener los datos de consumo del periodo 201801 añadiendo los siguientes datos : nombre y teléfono cliente. Mostrar sólo los registros comunes a ambas tablas:

In [ ]:
%%sql
select a.cod_cliente, a.cod_tarifa, a.cod_periodo, a.consumo,  b.nombre, b.tipo_cliente
from HC_CONSUMO a inner join DM_CLIENTE b
on a.cod_cliente = b.cod_cliente
where a.cod_periodo = 201801

Running query in 'sqlite:///test.db'

+-------------+------------+-------------+---------+------------------------+--------------+
| COD_CLIENTE | COD_TARIFA | COD_PERIODO | CONSUMO |         NOMBRE         | TIPO_CLIENTE |
+-------------+------------+-------------+---------+------------------------+--------------+
|      1      |    100     |    201801   |    24   |  Pepe García Martínez  |     RES      |
|      2      |    101     |    201801   |   15.6  |   Lucía García Pérez   |     RES      |
|      3      |    102     |    201801   |   16.5  | Repuestos Jiménez S.A. |     EMP      |
|      4      |    103     |    201801   |   20.9  |     ABC Consulting     |     EMP      |
|      5      |    104     |    201801   |   34.2  |  Patricia Sánchez Río  |     RES      |
|      6      |    100     |    201801   |   18.8  |  Jorge Lucas Sánchez   |     RES      |
|      7      |    104     |    201801   |   18.3  | Luca Bugno Francescoli |     RES      |
|      8      |    103     |    201801   |   15.9  |     Editorial XYZ      |     EMP      |
+-------------+------------+-------------+---------+------------------------+--------------+

### <i class="fa fa-pencil-square-o"></i> Caso 10
Obtener los registros que están en HC_CONSUMO y no están en DM_CLIENTE. Es decir registros que tienen datos de consumo de clientes que no existen en la tabla de clientes

In [12]:
%%sql

select co.* from HC_CONSUMO co
left join DM_CLIENTE cl on cl.cod_cliente = co.cod_cliente
where cl.COD_CLIENTE is null

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+------------+-------------+---------+
| COD_CLIENTE | COD_TARIFA | COD_PERIODO | CONSUMO |
+-------------+------------+-------------+---------+
|      10     |    100     |    201710   |    10   |
|      10     |    102     |    201711   |    20   |
|      10     |    102     |    201712   |   21.3  |
|      10     |    102     |    201801   |   21.3  |
|      10     |    102     |    201802   |   22.6  |
+-------------+------------+-------------+---------+

In [17]:
%%sql
select co.COD_TARIFA, avg(consumo) from HC_CONSUMO co
left join DM_CLIENTE cl on cl.cod_cliente = co.cod_cliente
group by co.COD_TARIFA

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+------------+--------------------+
| COD_TARIFA |    avg(consumo)    |
+------------+--------------------+
|    100     | 17.72727272727273  |
|    101     |       14.86        |
|    102     | 18.577777777777776 |
|    103     | 19.728571428571428 |
|    104     | 25.100000000000005 |
+------------+--------------------+

Sumatorio de consumo por tipo de cliente:

In [ ]:
%%sql
select b.tipo_cliente, sum(a.consumo)
from HC_CONSUMO a left join DM_CLIENTE b
on a.cod_cliente = b.cod_cliente
group by b.tipo_cliente

Running query in 'sqlite:///test.db'

+--------------+-------------------+
| TIPO_CLIENTE |   sum(a.consumo)  |
+--------------+-------------------+
|     None     | 95.19999999999999 |
|     EMP      |       220.1       |
|     RES      |       485.2       |
+--------------+-------------------+

In [14]:
%%sql
select b.*
from HC_CONSUMO a left join DM_CLIENTE b
on a.cod_cliente = b.cod_cliente
group by b.tipo_cliente

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+--------------+------------------------+-----------+--------------+
| COD_CLIENTE | TIPO_CLIENTE |         NOMBRE         |  TELEFONO | COD_SEGMENTO |
+-------------+--------------+------------------------+-----------+--------------+
|     None    |     None     |          None          |    None   |     None     |
|      3      |     EMP      | Repuestos Jiménez S.A. | 667456322 |      2       |
|      1      |     RES      |  Pepe García Martínez  | 666555222 |      1       |
+-------------+--------------+------------------------+-----------+--------------+

Clientes para los que hay datos de consumo en 201801 y no en 201802:

In [ ]:
%%sql
select * from HC_CONSUMO where cod_periodo = 201801
and cod_cliente not in (select distinct cod_cliente from HC_CONSUMO where cod_periodo = 201802)

Running query in 'sqlite:///test.db'

+-------------+------------+-------------+---------+
| COD_CLIENTE | COD_TARIFA | COD_PERIODO | CONSUMO |
+-------------+------------+-------------+---------+
|      7      |    104     |    201801   |   18.3  |
+-------------+------------+-------------+---------+

Operacion __UNION__

In [ ]:
%%sql
select * from HC_CONSUMO where cod_periodo = 201801
UNION
select * from HC_CONSUMO where cod_periodo = 201802

Running query in 'sqlite:///test.db'

+-------------+------------+-------------+---------+
| COD_CLIENTE | COD_TARIFA | COD_PERIODO | CONSUMO |
+-------------+------------+-------------+---------+
|      1      |    100     |    201801   |    24   |
|      1      |    100     |    201802   |   21.4  |
|      2      |    101     |    201801   |   15.6  |
|      2      |    101     |    201802   |   15.4  |
|      3      |    102     |    201801   |   16.5  |
|      3      |    102     |    201802   |   17.5  |
|      4      |    103     |    201801   |   20.9  |
|      4      |    103     |    201802   |   23.7  |
|      5      |    104     |    201801   |   34.2  |
|      5      |    104     |    201802   |    31   |
+-------------+------------+-------------+---------+
Truncated to displaylimit of 10.

__Tablas temporales__: __CTE__ (common table expression existe solo en el ambito de la senetencia

In [ ]:
%%sql
WITH
    CONSUMO_CLIENTE as (select a.cod_cliente, a.cod_tarifa, a.cod_periodo, a.consumo,  b.nombre, b.tipo_cliente
    from HC_CONSUMO a inner join DM_CLIENTE b
    on a.cod_cliente = b.cod_cliente)
SELECT tipo_cliente, sum(consumo)
FROM CONSUMO_CLIENTE GROUP BY tipo_cliente

Running query in 'sqlite:///test.db'

+--------------+--------------+
| tipo_cliente | sum(consumo) |
+--------------+--------------+
|     EMP      |    220.1     |
|     RES      |    485.2     |
+--------------+--------------+

#### Funciones

Generar grupos para obtener cálculos usando over partition. Comparamos el valor del consumo de cada cliente con la media por tarifa

In [20]:
%%sql
with
  MEDIA_TARIFA as (select cod_tarifa, avg(consumo) as media_consumo from HC_CONSUMO group by cod_tarifa)
select a.*, b.media_consumo
from hc_Consumo a left join media_tarifa b

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+------------+-------------+---------+--------------------+
| COD_CLIENTE | COD_TARIFA | COD_PERIODO | CONSUMO |   media_consumo    |
+-------------+------------+-------------+---------+--------------------+
|      1      |    100     |    201710   |    10   | 17.72727272727273  |
|      1      |    100     |    201710   |    10   |       14.86        |
|      1      |    100     |    201710   |    10   | 18.577777777777776 |
|      1      |    100     |    201710   |    10   | 19.728571428571428 |
|      1      |    100     |    201710   |    10   | 25.100000000000005 |
|      10     |    100     |    201710   |    10   | 17.72727272727273  |
|      10     |    100     |    201710   |    10   |       14.86        |
|      10     |    100     |    201710   |    10   | 18.577777777777776 |
|      10     |    100     |    201710   |    10   | 19.728571428571428 |
|      10     |    100     |    201710   |    10   | 25.100000000000005 |
+-------------+------------+-------------+---------+--------------------+
Truncated to displaylimit of 10.

In [ ]:
%%sql
select cod_cliente, cod_periodo, cod_tarifa , consumo, avg(consumo) OVER ( PARTITION BY cod_tarifa) avg_consumo
from HC_CONSUMO

Running query in 'sqlite:///test.db'

+-------------+-------------+------------+---------+--------------------+
| COD_CLIENTE | COD_PERIODO | COD_TARIFA | CONSUMO |    avg_consumo     |
+-------------+-------------+------------+---------+--------------------+
|      1      |    201710   |    100     |    10   | 17.72727272727273  |
|      10     |    201710   |    100     |    10   | 17.72727272727273  |
|      6      |    201710   |    100     |    17   | 17.72727272727273  |
|      1      |    201711   |    100     |    20   | 17.72727272727273  |
|      6      |    201711   |    100     |   17.2  | 17.72727272727273  |
|      1      |    201712   |    100     |    20   | 17.72727272727273  |
|      6      |    201712   |    100     |   18.6  | 17.72727272727273  |
|      1      |    201801   |    100     |    24   | 17.72727272727273  |
|      6      |    201801   |    100     |   18.8  | 17.72727272727273  |
|      1      |    201802   |    100     |   21.4  | 17.72727272727273  |
|      6      |    201802   |    100     |    18   | 17.72727272727273  |
|      2      |    201710   |    101     |    14   |       14.86        |
|      2      |    201711   |    101     |   14.7  |       14.86        |
|      2      |    201712   |    101     |   14.6  |       14.86        |
|      2      |    201801   |    101     |   15.6  |       14.86        |
|      2      |    201802   |    101     |   15.4  |       14.86        |
|      3      |    201710   |    102     |    18   | 18.577777777777776 |
|      3      |    201711   |    102     |   17.5  | 18.577777777777776 |
|      10     |    201711   |    102     |    20   | 18.577777777777776 |
|      3      |    201712   |    102     |   12.5  | 18.577777777777776 |
+-------------+-------------+------------+---------+--------------------+
Truncated to displaylimit of 20.

In [ ]:
%%sql
select cod_tarifa, avg(consumo)
from HC_CONSUMO
group by cod_tarifa

Running query in 'sqlite:///test.db'

+------------+--------------------+
| COD_TARIFA |    avg(consumo)    |
+------------+--------------------+
|    100     | 17.72727272727273  |
|    101     |       14.86        |
|    102     | 18.577777777777776 |
|    103     | 19.728571428571428 |
|    104     | 25.100000000000005 |
+------------+--------------------+

Funciones de fecha:

In [ ]:
%%sql
SELECT *, DATE('01-01-2024','%d-%m-%Y') as fec,
            DATE(CURRENT_TIMESTAMP) as fec2,
            strftime('%m', CURRENT_TIMESTAMP) as mes
from DM_CLIENTE

Running query in 'sqlite:///test.db'

+-------------+--------------+------------------------+-----------+--------------+------+------------+-----+
| COD_CLIENTE | TIPO_CLIENTE |         NOMBRE         |  TELEFONO | COD_SEGMENTO | fec  |    fec2    | mes |
+-------------+--------------+------------------------+-----------+--------------+------+------------+-----+
|      1      |     RES      |  Pepe García Martínez  | 666555222 |      1       | None | 2024-03-09 |  03 |
|      2      |     RES      |   Lucía García Pérez   | 666455322 |      1       | None | 2024-03-09 |  03 |
|      3      |     EMP      | Repuestos Jiménez S.A. | 667456322 |      2       | None | 2024-03-09 |  03 |
|      4      |     EMP      |     ABC Consulting     | 666655322 |      3       | None | 2024-03-09 |  03 |
|      5      |     RES      |  Patricia Sánchez Río  | 666655311 |      2       | None | 2024-03-09 |  03 |
|      6      |     RES      |  Jorge Lucas Sánchez   | 661155311 |      1       | None | 2024-03-09 |  03 |
|      7      |     RES      | Luca Bugno Francescoli | 661155344 |      3       | None | 2024-03-09 |  03 |
|      8      |     EMP      |     Editorial XYZ      | 669155374 |      3       | None | 2024-03-09 |  03 |
+-------------+--------------+------------------------+-----------+--------------+------+------------+-----+

### Volcado a csv

In [ ]:
res = %sql SELECT * from DM_CLIENTE
res.csv(filename='clientes.csv')

Running query in 'sqlite:///test.db'

CSV results at C:\Users\juanv\taller_SQL\clientes.csv

## Utilizando SQLite3 desde python

Podemos utilizar el paquete de conexión directamente para obtener los resultados. Para ello necesitaremos crear una `conecction` y un `cursor`

In [21]:
import sqlite3

In [23]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("/content/drive/MyDrive/BBDD/test.db")

cur = con.cursor()

# Return all results of query
cur.execute('SELECT * FROM DM_CLIENTE')
res = cur.fetchall()

con.close()

In [24]:
res

[(1, 'RES', 'Pepe García Martínez', 666555222, '1'),
 (2, 'RES', 'Lucía García Pérez', 666455322, '1'),
 (3, 'EMP', 'Repuestos Jiménez S.A.', 667456322, '2'),
 (4, 'EMP', 'ABC Consulting', 666655322, '3'),
 (5, 'RES', 'Patricia Sánchez Río', 666655311, '2'),
 (6, 'RES', 'Jorge Lucas Sánchez', 661155311, '1'),
 (7, 'RES', 'Luca Bugno Francescoli', 661155344, '3'),
 (8, 'EMP', 'Editorial XYZ', 669155374, '3')]

#### SQLlite3 desde Pandas

In [25]:
import pandas as pd

In [36]:
con = sqlite3.connect("/content/drive/MyDrive/BBDD/test.db")

df_clientes = pd.read_sql_query("""
SELECT *
FROM DM_CLIENTE
""", con)

con.close()

In [37]:
df_clientes

   COD_CLIENTE TIPO_CLIENTE                  NOMBRE   TELEFONO COD_SEGMENTO
0            1          RES    Pepe García Martínez  666555222            1
1            2          RES      Lucía García Pérez  666455322            1
2            3          EMP  Repuestos Jiménez S.A.  667456322            2
3            4          EMP          ABC Consulting  666655322            3
4            5          RES    Patricia Sánchez Río  666655311            2
5            6          RES     Jorge Lucas Sánchez  661155311            1
6            7          RES  Luca Bugno Francescoli  661155344            3
7            8          EMP           Editorial XYZ  669155374            3

desde csv a tabla sqlite

In [38]:
%%sql
CREATE TABLE DM_CLIENTE3
(
 COD_CLIENTE INTEGER NOT NULL PRIMARY KEY ,
 TIPO_CLIENTE  VARCHAR(4),
 NOMBRE  VARCHAR(100),
 TELEFONO  INT ,
COD_SEGMENTO VARCHAR(3) DEFAULT 'S1'
);

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

RuntimeError: (sqlite3.OperationalError) table DM_CLIENTE3 already exists
[SQL: CREATE TABLE DM_CLIENTE3
(
 COD_CLIENTE INTEGER NOT NULL PRIMARY KEY ,
 TIPO_CLIENTE  VARCHAR(4),
 NOMBRE  VARCHAR(100),
 TELEFONO  INT ,
COD_SEGMENTO VARCHAR(3) DEFAULT 'S1'
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [39]:
%sql select * FROM DM_CLIENTE3

Running query in 'sqlite:////content/drive/MyDrive/BBDD/test.db'

+-------------+--------------+--------+----------+--------------+
| COD_CLIENTE | TIPO_CLIENTE | NOMBRE | TELEFONO | COD_SEGMENTO |
+-------------+--------------+--------+----------+--------------+
+-------------+--------------+--------+----------+--------------+

In [33]:
con = sqlite3.connect("test.db")

In [34]:
pd.read_csv("clientes.csv").to_sql('DM_CLIENTE3', con=con, if_exists='append', index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'clientes.csv'

In [35]:
con.close()

Cuestiones de __configuración__ JupySQL

In [ ]:
 %config SqlMagic

SqlMagic(Magics, Configurable) options
------------------------------------
SqlMagic.autocommit=<Bool>
    Set autocommit mode
    Current: True
SqlMagic.autolimit=<Int>
    Automatically limit the size of the returned result sets
    Current: 0
SqlMagic.autopandas=<Bool>
    Return Pandas DataFrames instead of regular result sets
    Current: False
SqlMagic.autopolars=<Bool>
    Return Polars DataFrames instead of regular result sets
    Current: False
SqlMagic.column_local_vars=<Bool>
    Return data into local variables from column names
    Current: False
SqlMagic.displaycon=<Bool>
    Show connection string after execution
    Current: True
SqlMagic.displaylimit=<Int>
    Automatically limit the number of rows displayed (full result set is still
    stored)
    Current: 20
SqlMagic.dsn_filename=<Unicode>
    Path to DSN file. When the first argument is of the form [section], a
    sqlalchemy connection string is formed from the matching section in the DSN
    file.
    Current: 'C:\\Users\\juanv\\.jupysql\\connections.ini'
SqlMagic.feedback=<Int>
    Verbosity level. 0=minimal, 1=normal, 2=all
    Current: 1
SqlMagic.lazy_execution=<Bool>
    Whether to evaluate using ResultSet which will cause the plan to execute or
    just return a lazily executed plan allowing validating schemas, without
    expensive compute.Currently only supported for Spark Connection.
    Current: False
SqlMagic.named_parameters=<Parameters>
    Allow named parameters in queries (i.e., 'SELECT * FROM foo WHERE bar =
    :bar')
    Current: 'warn'
SqlMagic.polars_dataframe_kwargs=<key-1>=<value-1>...
    Polars DataFrame constructor keyword arguments(e.g. infer_schema_length,
    nan_to_null, schema_overrides, etc)
    Current: {}
SqlMagic.short_errors=<Bool>
    Don't display the full traceback on SQL Programming Error
    Current: True
SqlMagic.style=<Unicode>
    Set the table printing style to any of prettytable's defined styles
    (currently DEFAULT, MSWORD_FRIENDLY, PLAIN_COLUMNS, RANDOM, SINGLE_BORDER,
    DOUBLE_BORDER, MARKDOWN )
    Current: 'DEFAULT'

In [ ]:
%config SqlMagic.autolimit = 20

## Cliente SQLlite

SQLite DB Browser en https://sqlitebrowser.org/dl/

Con este cliente instalado podemos abrir una BBDD (ejemplo test.db) e inspeccionarla

![image.png](attachment:image.png)

![image.png](attachment:image.png)